* {
    box-sizing: border-box;
}

html {
    font-family: $header-font;
    font-size: 14px;
    line-height: 1.5em;
    color: $light-color;
}

body {
    width: 100%;
    max-width: $xlarge;
    margin: 0 auto;
    transition: opacity 1s ease 0s;
    opacity: 1;
    background-image: url("../img/global-bg.jpg");
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;

    @media (min-width: $large + 1) {
        padding: 0 30px;
    }

    @media (max-width: $large) and (min-width: $middle + 1) {
        padding: 0 15px;
    }

    @media (max-width: $middle) and (min-width: $small + 1) {
        padding: 0 15px;
    }

    @media (max-width: $small) and (min-width: $xsmall + 1) {
        padding: 0 15px;
    }

    @media (max-width: $xsmall) {
        padding: 0 15px;
    }
}

h1 {
    color: $light-color;
    font-size: 2rem;
    font-weight: 300;
}

p {
    color: $light-color;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: $light-color;
    font-family: $base-font;


}
