%bg-color {
    background-color: rgba($dark-color, 0.6);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

%color-item {
    background-color: rgba($dark-color, 0.34);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


%widgets-bg {
    background-color: rgba($dark-color, 0.54);
    border-radius: 7px;
}
