.left {

    order: 1;


    width: $left-sidebar-width;


    @media (max-width: $middle) and (min-width: $xsmall + 1) {
        width: 50%;
        order: 2;
        padding-right: 7.5px;
    }

    @media (max-width: $xsmall) {
        width: 100%;
        order: 2;
    }

}
